<!-- <button type="submit" class="btn btn-primary mx-auto my-1 exercise" data-exerciseId="{{id}}" data-userId="{{userid}}">{{name}}</button><br> -->
<div class="form-check">
	

	<input class="form-check-input" type="checkbox" value="{{name}}" id="{{name}}" name="{{name}}">
	<label class="form-check-label" for="defaultCheck1">
		<a href="/mainpage/{{id}}/{{userid}}">
			{{name}}
		</a>
	</label>
</div>
