<div class="form-check">
	<input class="form-check-input" type="checkbox" value="{{name}}" id="{{name}}">
	<label class="form-check-label" for="defaultCheck1">
		<a href="/mainpage/{{id}}/{{userid}}">
			{{name}}
		</a>
	</label>
</div>
