<!-- todo -->
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <button id = "logout">Log Out</button>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>

{{!-- table for track the history --}}
  <div class="history-container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">    
        {{#each exercise}}
        <title>{{exercise}}</title>
            <table>
                    <tr>
                      <th>Set</th>
                      <th>Reps</th>
                      <th>Weight Used</th>
                    </tr>
                    {{#each data}}
                    <tr>
                      <td>{{sets}}</td>
                      <td>{{reps}}</td>
                      <td>{{weightUsed}}</td>
                    </tr>
                    {{/each}}         
            </table>
        {{/each}}
      </div>
      </div> 
    </div>
  </div>

{{!-- chart  --}}
  <div class="history-container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"> 
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Workout Chart</h5>
        {{chart}}
        </div>
        </div>
      </div>
    </div>
  </div>
