


  <div class="container history">
    <div class="upper-container">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <button id = "logout">Log Out</button>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>

    <div class="row">
            
        <div id="alreay-done">
      {{#if days}}
        {{#each days}}
        <title>{{date}}</title>
            <table>
                    <tr>
                      <th>Exercise</th> 
                      <th>Set</th>
                      <th>Reps</th>
                      <th>Weight Used</th>
                    </tr>
                    {{#each data}}
                    <tr>
                      <td>{{exercise}}</td>
                      <td>{{sets}}</td>
                      <td>{{reps}}</td>
                      <td>{{weightUsed}}</td>
                    </tr>
                    {{/each}}
                   
            </table>
        {{/each}}
      {{/if}}
        </div>
       
      </div>
    </div>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Workout Chart</h5>
   {{chart}}
  </div>
 </div>
</div>
  </div>
